*{
    margin: 0;
    padding: 0;
} /**universal selector removing default margins and padding**/

body{
    height: auto;
    font-family: Arial;
    font-size: 25px; 
    line-height: 25px; 
}

#head {
    margin-top: 100px;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#canvas-container {
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 20%;
    width: 70%; 
    z-index: 10; 
}

.menu a, .menu h1{
    font-size: 30px; 
    line-height: 35px; 
    display: inline-block;
}
.menu a, .menu p{
    display: block;

}

.menu a img.menu-img { /*when selected */
    display: none; /* Hide images by default */
    width: 400px; /* Adjust as needed */
    height: 400px; /* Maintain aspect ratio */
    vertical-align: middle; 
}

.menu a:hover img.menu-img {
    display: inline-block; /* Show image on hover */
    z-index: 5;
    position: absolute;
}

.menu a:hover, .menu p:hover {
    line-height: 400px; /* Adjust the value as needed */
    font-size: 40px;
    text-align: right;
    background-color: black;
}




h1{
    font-family: Arial;
    font-size: 35px; /* Approximated from 1.8vw */
    font-weight: normal;
}

@media only screen and (max-width : 815px) {
    body{
        font-size: 58px; /* Approximated from 3vw */
        line-height: 58px; /* Approximated from 3vw */
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

